*{
    font-family: Poppins;
}

.maindiv{
    background-color: #FFFFFF;
    width: 370px;
    height: auto;
    top: 216.86px;
    left: 165.17px;
    border-radius: 15px;
    border: 2px solid gray;
    box-shadow: 7px 9px 13px 0px rgba(0,0,0,0.75);
}
.picdiv > img{
    width: 321px;
    height: 161px;
    padding: 23px;
    border-radius: 24px;
    padding-bottom: 0;
}
.desdiv > p{
    width: 134px;
    height: 22px;
    top: 423.86px;
    left: 190.17px;
    font-weight: 800;
    size: 18px;
    color: black;
    list-style-type: 22.41px;
    letter-spacing: 1.5%;
}
.desdiv > span{
    font-weight: 500;
    size: 16px;
    line-height: 19.92px;
    letter-spacing: -0.5%;
    color: #84829A;
}
.foricon{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 139px;
    height: 36px;
} 

.icondiv{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 50px;
    margin-right: 10px;
}
.icondiv:hover{
    cursor:pointer;
}
.desdiv{
    margin-top: 0;
    padding: 0px 23px 23px 23px
}
.bottominfo{
    margin-top: 15px;   
}
.infobottom{
    display: flex;
    align-items: center;
    text-align: center;
}
.infobottom > span{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.92px;
    letter-spacing: -2%;
    margin-left: 10px;
    color: #84829A;
}

